<h1 aling="center">List Of Existed Movies</h1>
<%= link_to "Add New Movie", new_movie_path %>
<hr>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Year</td>
      <td>#Favorited</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, edit_movie_path(movie) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.favorited %></td>
        <td><%= link_to "Delete Movie", movie_path(movie), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>