<%= form_with model: movie, local: true do |form| %>
  <% if movie.errors.any? %>
    <%= render 'shared/error_messages', object: movie %>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :year %>
    <%= form.select :year, [*1900..2019].reverse  %>
  </div>
  <br>
  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>
  <br>
  <div>
    <%= form.label :main_star %>
    <%= form.text_field :main_star %>
  </div>
  <br>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <br>
  <div>
    <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>