<h2><%= @movie.name.upcase %></h3>
<p>Year Of Release: <%= @movie.year %></p>
<p>Director: <%= @movie.director %></p>
<p>Lead Role: <%= @movie.main_star %></p>
<hr>
<%= link_to "<< Back To All Movies", movies_path %>
<br><br>
<%= link_to "Edit Movie", edit_movie_path(@movie) %>
<br><br>
<%= link_to "Delete Movie", movie_path(@movie), method: :delete, data: {confirm: 'Are You Sure?'} %>