<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta charset = "UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= link_to "Singout", destroy_admin_session_path , method: :delete %>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value %>
    <% end %>
    <%= yield %>
  </body>
</html>
